.sidebar-item {
    padding: 15px;
    border-radius: 3px;
    margin: 2px;
}

.sidebar-menu-button {
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: alpha(@theme_fg_color, 0.8);
}

.sidebar-menu-button:hover {
    color: @theme_fg_color;
}
